---
layout: page
title: Portfolio
categories: projects
---
{% assign cat = 'projects' %}
{% assign project_tags = site.array %}
{% assign project_tags = "angularjs,emmet" | split: "," %}
{% assign skills = site.otherarray %}
{% assign test_action = "frontend,backend,projectdelivery,wireframe,htmlcss,devops-ci,tdd" | split: "," %}


  {% for project_tag in project_tags %}
    {% assign includer = "tags/" | append: project_tag | append: ".html" %}
    {% assign imager = "tags/" | append: project_tag | append: ".html" %}
    <div class="category-archive">
      {% include {{includer}} %}
      <ul class="posts">
        
        {% for post in site.categories[cat] %}
          {% if post.tags contains {{project_tag}} %}
            <ul> 
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            </ul>
          {% endif %}  
        {% endfor %}
      </ul>
    </div>
  {% endfor %}  


<div id="footerbar"></div>

<!-- <div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="..." alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    ...
  </div>
</div> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href=""><h2 class="skillheader">Front End Dev</h2></a>
    </div>
    <div class="col-md-7">
      <a href=""><img class="techicon" src="/assets/themes/ricify/images/angular.png"></a>
      <a href=""><img class="techicon" src="/assets/themes/ricify/images/angular.png"></a>
      <a href=""><img class="techicon" src="/assets/themes/ricify/images/angular.png"></a>
    </div>
    <div class="col-md-2">
      <h3 class="skillheader">Projects <span class="badge">5</span> </h3>
    </div>
  </div>  
   
</div> -->




