---
layout: page
title: Portfolio
categories: projects
---
{% assign cat = 'projects' %}
{% assign project_tags = site.array %}
{% assign skills = site.otherarray %}
{% assign skills = "classes,frontend,backend,wireframe,htmlcss,devops-ci,tdd,fcc" | split: "," %}


  {% for skill in skills %}
    <div class="category-archive">
      {% if skill == "frontend" %}
        {% assign project_tags = "angularjs,jquery" | split: "," %}
        {% assign skill_full_name = "Front End Development" %}
      {% endif %}
      {% if skill == "backend" %}
        {% assign project_tags = "express,sails,mongodb,node,ruby,rails" | split: "," %}
        {% assign skill_full_name = "Back End Development" %}
      {% endif %}
      {% if skill == 'wireframe' %}
        {% assign project_tags = "sublime,emmet" | split: "," %}
        {% assign skill_full_name = "Rapid Lo-fi Wireframing" %}
      {% endif %}
      {% if skill == 'htmlcss' %}
        {% assign project_tags = "bootstrap,angular.ui,sass,htmlcss" | split: "," %}
        {% assign skill_full_name = "HTML & CSS Crafting" %}
      {% endif %}
      {% if skill == 'devops-ci' %}
        {% assign project_tags = "git,gulp,travis" | split: "," %}
        {% assign skill_full_name = "DevOps & Continous Integration" %}
      {% endif %}
      {% if skill == 'tdd' %}
        {% assign project_tags = "jasmine,chai,protractor" | split: "," %}
        {% assign skill_full_name = "Test Driven Development" %}
      {% endif %}
      {% if skill == 'fcc' %}
        {% assign project_tags = "basicfront,basicback" | split: "," %}
        {% assign skill_full_name = "Free Code Camp Projects" %}
      {% endif %}
      {% if skill == 'classes' %}
        {% assign project_tags = "portfoliodev,c9" | split: "," %}
        {% assign skill_full_name = "Coding Class Development" %}
      {% endif %}

      {% assign includer = "tags/" | append: skill | append: ".html" %}
      {% assign portfolio_skill_ref = skill | append: "-ref" %}
      <h2 class="lesshead" id="{{portfolio_skill_ref}}">{{skill_full_name}}</h2>
      <p>{% include {{includer}} %}</p>
      
      
      {% for tag in project_tags %}
        {% if tag == 'basicfront' %}
          {% assign tag_full_name = "Front End Development" %}
        {% elsif tag == 'basicback' %}
          {% assign tag_full_name = "Backend End Development" %}
        {% elsif tag == 'api' %}
          {% assign tag_full_name = "API Development" %}
        {% elsif tag == 'webapp' %}
          {% assign tag_full_name = "Web Applications" %}
        {% elsif tag == 'htmlcss' %}
          {% assign tag_full_name = "HTML5 & CSS" %}
        {% else %}

          {% assign tag_full_name = {{tag | capitalize}}  %}
        {% endif %}

        {% assign image_url = "/assets/themes/ricify/images/" | append: tag | append: ".png" %}
        {% assign includer = "tags/" | append: tag | append: ".html" %}
        {% assign tag_page_ref = "/tags.html#" | append: tag | append: "-ref" %}
        {% assign portfolio_tag_ref = tag | append: "-ref" %}
        <div class="media" id="{{portfolio_tag_ref}}">
          <div class="media-left">
            <a href="{{tag_page_ref}}">
              <img class="media-object" src="{{image_url}}" alt="{{tag_full_name | capitalize}} logo">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading" ><a href="{{tag_page_ref}}">{{tag_full_name | capitalize}}</a></h3>
            <p>{% include {{includer}} %}</p>
            <p>{{tag_full_name }} Projects:</p>
            <ul class="posts">
            {% assign cat = 'projects' %}
            {% for post in site.categories[cat] %}
              {% if post.tags contains tag %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li>  
              {% endif %}
            {% endfor %}
            </ul>
            {% assign cat = 'posts' %}
            {% for post in site.categories[cat] %}
              {% if post.tags contains tag %}
                {% assign counter = 1 %}

              {% endif %}
            {% endfor %}
            
            {% if counter == 1%}
              <p>{{tag_full_name }} Blog Posts:</p>
              <ul class="posts">
              {% for post in site.categories[cat] %}
                {% if post.tags contains tag %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li> 
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
            
            {% assign counter = 0 %}
            </div>
        </div>
        

        {% endfor %}
    </div>
  {% endfor %}  
<div id="footerbar"></div>





