---
layout: page
title: Project Delivery
categories: delivery
---
{% assign cat = 'delivery' %}
{% assign project_tags = site.array %}
{% assign skills = site.otherarray %}
{% assign skills = "specialsauce,scrum,kanban,leanux" | split: "," %}


  {% for skill in skills %}
    <div class="category-archive">
      {% if skill == "specialsauce" %}
        {% assign project_tags = "specialsauce" | split: "," %}
        {% assign skill_full_name = "Ric's Special Sauce" %}
      {% endif %}
      {% if skill == "scrum" %}
        {% assign project_tags = "scrum" | split: "," %}
        {% assign skill_full_name = "Scrum" %}
      {% endif %}
      {% if skill == 'kanban' %}
        {% assign project_tags = "kanban" | split: "," %}
        {% assign skill_full_name = "Kanban" %}
      {% endif %}
      {% if skill == 'leanux' %}
        {% assign project_tags = "leanux" | split: "," %}
        {% assign skill_full_name = "LeanUX" %}
      {% endif %}
      

     <!--  {% assign includer = "tags/" | append: skill | append: ".html" %}
      {% assign portfolio_skill_ref = skill | append: "-ref" %}
      <h2 class="lesshead" id="{{portfolio_skill_ref}}">{{skill_full_name}}</h2>
      <p>{% include {{includer}} %}</p> -->
      
      
      {% for tag in project_tags %}
        {% if tag == 'specialsauce' %}
          {% assign tag_full_name = "Ric's Special Sauce" %}
        {% elsif tag == 'scrum' %}
          {% assign tag_full_name = "Scrum" %}
        {% elsif tag == 'Kanban' %}
          {% assign tag_full_name = "kanban" %}
        {% elsif tag == 'bob' %}
          {% assign tag_full_name = "Web Applications" %}
        {% elsif tag == 'leanux' %}
          {% assign tag_full_name = "LeanUX" %}
        {% else %}

          {% assign tag_full_name = {{tag | capitalize}}  %}
        {% endif %}

        {% assign image_url = "/assets/themes/ricify/images/" | append: tag | append: ".png" %}
        {% assign includer = "tags/" | append: tag | append: ".html" %}
        {% assign tag_page_ref = "/tags.html#" | append: tag | append: "-ref" %}
        {% assign portfolio_tag_ref = tag | append: "-ref" %}
        <div class="media" id="{{portfolio_tag_ref}}">
          <div class="media-left">
            <a href="{{tag_page_ref}}">
              <img class="media-object" src="{{image_url}}" alt="{{tag_full_name | capitalize}} logo">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading" ><a href="{{tag_page_ref}}">{{tag_full_name | capitalize}}</a></h3>
            <p>{% include {{includer}} %}</p>
            {% assign cat = 'projects' %}
            {% for post in site.categories[cat] %}
              {% if post.tags contains tag %}
                {% assign counter = 1 %}
              {% endif %}
            {% endfor %}

            {% if counter == 1%}
              <p>{{tag_full_name }} Projects:</p>
              <ul class="posts">
              
              {% for post in site.categories[cat] %}
                {% if post.tags contains tag %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>  
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}

            {% assign cat = 'posts' %}
            {% for post in site.categories[cat] %}
              {% if post.tags contains tag %}
                {% assign counter = 1 %}
              {% endif %}
            {% endfor %}
            
            {% if counter == 1%}
              <p>{{tag_full_name }} Blog Posts:</p>
              <ul class="posts">
              {% for post in site.categories[cat] %}
                {% if post.tags contains tag %}
                  <li><a href="{{ post.url }}">{{ post.title }}</a></li> 
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
            
            {% assign counter = 0 %}
            </div>
        </div>
        

        {% endfor %}
    </div>
  {% endfor %}  
<div id="footerbar"></div>





