<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans:700|Amatic+SC:700" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet">
  
    <!--[if lt IE 9]>
      <script src="{{ ASSET_PATH }}/resources/respond/Respond.min.js"></script>
    <![endif]-->

    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% if page.url == '/' %}
              <a id="navbarbrand" class="navbar-brand active" href="/"></a>
            {% else %}
              <a id="navbarbrand" class="navbar-brand" href="/"></a>
            {% endif %}
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav pull-left">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
          </div>
        </div>
      </nav>
      
      {{ content }}
      <footer class="row">
      <div id="copyright" class="col-md-6 col-sm-6">
        <p>&copy; <a href="#">Ric McLaughlin</a>, All rights reserved.</p>
      </div>
      <div id="socialicons" class="col-md-6 col-sm-6">
        <a href="mailto:ric@mclaughlin.today"><img class="social-icon" src="{{ ASSET_PATH }}/images/email.png" alt="Ric McLaughlin Email"></a>
        <a href="https://twitter.com/ric_mclaughlin"><img class="social-icon" src="{{ ASSET_PATH }}/images/twitter.png" alt="Ric McLaughlin twitter"></a>
        <a href="https://www.linkedin.com/in/ricmclaughlin"><img class="social-icon" src="{{ ASSET_PATH }}/images/linkedin.png" alt=""></a>
        <a href="https://github.com/ricmclaughlin"><img class="social-icon" src="{{ ASSET_PATH }}/images/github.png" alt=""></a> 
      </div>
    </footer>
      
    </div>  
    {% include JB/analytics %}
    <script src="{{ ASSET_PATH }}/resources/jquery/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
