<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.date | date_to_long_string }}</small></h1>
</div>

<div class="row post-full">
  <div class="col-md-12">
    <div class="content">
      {{ content }}
    </div>

    {% unless page.tags == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}
  {% include JB/comments %}
  </div>
</div>
<div id="footerbar"></div>   