 <div class="media">
  <div class="media-left">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="45b02430-6da1-449d-8acf-8532c211d563" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  </div>
  <div class="media-body">
    <h3 class="media-heading">AWS Certified Solutions Architect Professional</h3>
        <p>Solutions Architecture Professional is a simple moniker for know the mile-wide breadth of the AWS product offering deep enough to name the parts, fit the pieces together, explain how the pieces should fit together, optimize how the pieces might fit together then answer detailed product capability questions about all the pieces. Or, simply study Direct Connect because like there are a lot of question on that product. But seeing that I'm an AWS Academy Accredited Instructor for Cloud Architecture this should be an easy certification to waltz in and pass, right?? nope. Studying was involved. Lots of it. I got this certification in 2017, it expired in 2020, and I re-certified in 2023.</p>
  </div>
</div>




