 <div class="media">
  <div class="media-left">
      <a href="https://aws.amazon.com/education/awsacademy/cloud-computing-architecture/"><img class="media-object" src="/assets/themes/ricify/images/aws-accred-instr.png" alt=""></a>

  </div>
  <div class="media-body">
    <h3 class="media-heading" >AWS Academy Accredited Instuctor</h3>
    
      <p>Being asked to teach any lecture from a 48 hour <a href="https://aws.amazon.com/education/awsacademy/cloud-computing-architecture/">AWS Academy Cloud Computing Architecture</a> course, to a senior AWS Solutions Architect and instructor for 3 hours isn't something I am going to forget. Fast forward a bit and I'm an accredited instructor for AWS Academy (as of January 2017), I've taught the course twice, and most of my students are now AWS Certified Solutions Architects.</p>
  </div>
</div>



