 <div class="media">
  <div class="media-left">
    <a href="https://www.certmetrics.com/amazon/public/badge.aspx?t=c&amp;d=2016-11-14&amp;i=1&amp;ci=AWS00200932" style="border:none;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.certmetrics.com/amazon/public/badge.aspx?t%3Dc%26d%3D2016-11-14%26i%3D1%26ci%3DAWS00200932&amp;source=gmail&amp;ust=1502203203055000&amp;usg=AFQjCNEiRs6zNkEWiTaxuCHI0cMFr6po5A"><img class="media-object" width="100" height="100" src="https://ci3.googleusercontent.com/proxy/2F7aiySxvS1NQjPUxwHRq2juN1QpU2E3bQN7coKoQ3X2H1VB45wyiEi1-WepQjaKFnGt1Fg_Rhuwt1LESG0Tf12q4TcdOPNmQg=s0-d-e1-ft#https://www.certmetrics.com/api/ob/image/amazon/c/1" alt="AWS Certified Solutions Architect - Associate" title="AWS Certified Solutions Architect - Associate" class="CToWUd"></a>
  </div>
  <div class="media-body">
    <h3 class="media-heading" >AWS Certified Solutions Architect Associate</h3>
    
      <p>Solutions Architecture Professional is a simple moniker for know the mile-wide breadth of the AWS product offering deep enough to name the parts, fit the pieces together, explain how the pieces should fit together, optimize how the pieces might fit together then answer detailed product capability questions about all the pieces. Seeing that I'm an AWS Academy Accredited Instructor for Cloud Architecture this should be an easy certification to waltz in and pass, right?? nope. Studying was involved. Lots of it.</p>
  </div>
</div>



