<div class="media">
    <div class="media-left">
        <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f696f0a7-ae7f-4d91-b91e-c0ec3ab4db2c" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    </div>
    <div class="media-body">
        <h3 class="media-heading">AWS Machine Learning Specialty</h3>
        <p>I totally enjoyed preparing for this cert!</p>

        <p>Unsurprisingly, the infrastructure, analytics, SageMaker, and AI services details felt like the typical what's-new-in-these-services re-certification grind. Yes, service sprawl is real. And yes, as an AWS evangelist that introduced *most* of these products to internal audiences at Amazon I had lots of "I remember that!" moments.</p>
        
        <p>But the data exploratory analysis and modeling topics, which are mostly unrelated to AWS, required me to set up a bunch of enabling infrastructure on AWS, and then remember Python, and then remember a bunch of Python libraries so I could implement every single SageMaker built-in algorithm. Because how else are you going to remember which metric on which visualization requires tuning which hyperparameter?</p>
        
        <p>And all that hands-on work felt good, in a geeky sort of a way. I got this certification in 2023.</p>
    </div>
</div>
  
  
  
  