 <div class="media">
  <div class="media-left">
    <a href="https://www.certmetrics.com/amazon/public/badge.aspx?t=c&amp;d=2017-07-29&amp;i=5&amp;ci=AWS00200932" style="border:none;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.certmetrics.com/amazon/public/badge.aspx?t%3Dc%26d%3D2017-07-29%26i%3D5%26ci%3DAWS00200932&amp;source=gmail&amp;ust=1502203203055000&amp;usg=AFQjCNGm4M1itdjDcywDj-lViDK-FEdq_A"><img class="media-object" width="100" height="100" src="https://ci4.googleusercontent.com/proxy/8aCTm1SmsPAwNFmWmlSa-EwWRyOvdXlEe72N3oKDBohlDk7RTXEKbBGbndJfrmvmoDOjFX05PzFI5iJoTMJWOdM-F7xP7QFKbw=s0-d-e1-ft#https://www.certmetrics.com/api/ob/image/amazon/c/5" alt="AWS Certified DevOps Engineer - Professional" title="AWS Certified DevOps Engineer - Professional" class="CToWUd"></a>
  </div>
  <div class="media-body">
    <h3 class="media-heading" >AWS Certified DevOps Engineer Professional</h3>
    
      <p>Software defined infrastructure is a whole new thing. With great tools like Cloudformation and CloudWatch it is a straightforward affair with tons of amazing functionality and rich meadows of details. And this certification tests not only the ability to name the parts, put the parts together, understand how they might fit together, it tests how it could fit together the best way based on complex patterns and requirements. Not a trival exercise. Earned it July 29, 2017 after doing it for years and teaching it for months. Below are the notes and projects I did for exam prep and review.</p>
  </div>
</div>