<div class="media">
  <div class="media-left">
    <a href="/tags.html#emmet-ref">
      <img class="media-object img-thumbnail" src="/assets/themes/ricify/images/emmet.png" alt="Emmet logo">
    </a>
  </div>
  <div class="media-body">
    <h2 class="media-heading">Emmet</h2>
      <p>
      Emmet is a plugin for most text editors that make HTML &amp; CSS development much, much quicker. It's like a meta language really. Very handy. 
      Highly recommended. <a href="http://emmet.io/">emmet.io</a>
      </p>
      <p>Emmet Projects:</p>
  </div>
</div>