 <div class="media">
  <div class="media-left">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fa31ae66-7c4b-4129-9fd8-8c44d728696c" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

  </div>
  <div class="media-body">
    <h3 class="media-heading" >Agile Certified Practitioner</h3>
    
      <p>Agile is more than Scrum, and Kanban, and a manifesto. And that is exactly why I got the Agile Certified Practioner certification - it's not limited to a single method. Rather, it covers a broad range of agile methods (Scrum, Kanban, XP, FDD, Crystal, DSDM, etc) and doesn't play favorites. Unfortunately, this certification is a certification anti-pattern - the acronym is horrible and no one has a clue to what it is or what it covers. So let me help spread the word. To qualify to sit the exam you 21 hours of training in Agile, 1500 hours of Agile project management experience and pass a 3 hour, way too expensive exam that covers all the major Agile project management methodologies. I earned the <a href="https://www.youracclaim.com/badges/b936726a-5455-478c-9ef3-97e4fb5d3daa/public_url">PMI-ACP certification</a>  on January 3, 2014 and I've renewed it through 2026.</p>
  </div>
</div>



