 <div class="media">
  <div class="media-left">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fa31ae66-7c4b-4129-9fd8-8c44d728696c" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

  </div>
  <div class="media-body">
    <h3 class="media-heading" >Project Management Professional</h3>
    
      <p>There is a reason the <a href="https://www.pmi.org/certifications/types/project-management-pmp">Project Management Professional</a> is THE project management certification. It's comprehensive. The <a href="https://www.pmi.org/pmbok-guide-standards/foundational/pmbok">Project Management Book of Knowledge</a> is a tome of processes and tools for PM. Add in the 4500 hours of required project management professional work and the most difficult exam I've taken and you end up with a certification that is worth the effort. I earned the <a href="https://www.youracclaim.com/badges/40a5a309-402d-4f5e-a13e-93c6d7a47e8e/public_url">PMP certification</a> on June 10, 2007 and I've renewed it through 2026. </p>
  </div>
</div>



